RewriteEngine On

DirectoryIndex index.php

ErrorDocument 404 /index.php

<Files "*.db">
    Order allow,deny
    Deny from all
</Files>

<Files "*.sql">
    Order allow,deny
    Deny from all
</Files>

php_flag display_errors Off
php_flag log_errors On